.advantages--background {
    background-color: var(--secondary-bg-color);
    padding-bottom: 80px;

    @media screen and (min-width: 768px) {
        padding-bottom: 84px;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 21px;
        padding-bottom: 120px;
    }
}

.advantages__container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.advantages__list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -22px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 527px;
    }

    @media screen and (min-width: 1280px) {
        margin-left: -142px;
    }
}

.advantages__item::before {
    display: block;
    content: "";
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
        margin-bottom: 36px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 40px;
    }
}

.advantages__item--milk::before {
    background-image: url(../images/icon-adv-1.png);
    width: 33px;
}

.advantages__item--fruits::before {
    background-image: url(../images/icon-adv-2.png);
    width: 50px;
}

.advantages__item--icecream::before {
    background-image: url(../images/icon-adv-3.png);
    width: 44px;
}

.advantages__item {
    @media screen and (min-width: 768px) {
        width: calc((100% - 3*22px) / 3);
        margin-left: 22px;
    }

    @media screen and (min-width: 1280px) {
        width: calc((100% - 3*142px) / 3);
        margin-left: 142px;
    }

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
}

.advantages__title {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    text-align: left;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 13px;

    @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 1.15;
    }

    @media screen and (min-width: 1280px) {
        font-size: 58px;
        line-height: 1.14;
        margin-bottom: 16px;
    }
}

.advantages__text {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
    color: var(--main-text-color);

    @media screen and (max-width: 767px) {
        max-width: 230px;
    }

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.74;
    }

    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.76;
        letter-spacing: 0.02em;
    }
}