// !   mixin
@mixin tel-mini {
  @media screen and (min-width: 300px) and (max-width: 391px) {
    @content;
  }
}

@mixin tel {
  @media screen and(min-width: 480px) {
    @content;
  }
}

@mixin tel-only {
  @media screen and (min-width: 480px) and (max-width: 768px) {
    @content;
  }
}

@mixin tel-max {
  @media screen and(max-width: 768px) {
    @content;
  }
}

@mixin tab {
  @media screen and(min-width: 768px) {
    @content;
  }
}

@mixin tab-only {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    @content;
  }
}
@mixin tab-max {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin desk {
  @media screen and(min-width: 1200px) {
    @content;
  }
}

@mixin pixel-2x {
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    @content;
  }
}

// ! code
.section {
  width: 100%;

  padding-bottom: 80px;
  @include tab {
    padding-bottom: 121px;
  }
  @include desk {
    padding-bottom: 123px;
  }
}
.gallery__section {
  background-image: linear-gradient(to bottom, #fff5f6 50%, #fff 50%);
}

.container__my {
  position: relative;

  width: 320px;
  height: 122px;
  margin: 0 auto;
  @include tab {
    width: 768px;
    height: 264px;
  }

  @include desk {
    width: 1200px;
    height: 430px;
  }
}

.test-item {
  // list-style: none;
}
.gallery {
}
.gallery--main-icon {
  width: 81px;
  height: 81px;
  z-index: 1;
  &:hover,
  &:focus {
    top: 50%;
    left: 50%;

    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5) translate(-50%, -50%);
    z-index: 2;
  }
  @include tab {
    width: 175px;
    height: 175px;
  }

  @include desk {
    width: 285px;
    height: 285px;
  }
}
.gallery--litle-icon {
  z-index: 1;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  &:hover,
  &:focus {
    // top: 50%;
    // left: 50%;

    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    // transform: scale(2.3) translate(-50%, -50%);
    z-index: 2;
  }
  @include tab {
    width: 86px;
    height: 86px;
  }

  @include desk {
    width: 139px;
    height: 139px;
  }
}

.gallery__icon-1 {
  position: absolute;
  left: 6.25%;
  top: 40px;
  //   background-color: red;
  @include tab {
    left: 74px;
    top: 86px;
  }

  @include desk {
    left: 134px;
    top: 142px;
  }
}
.gallery__icon-2 {
  position: absolute;
  left: 19%;
  top: 66px;

  @include tab {
    left: 163px;
    top: 143px;
  }

  @include desk {
    left: 279px;
    top: 233px;
  }
}
.gallery__icon-3 {
  position: absolute;
  left: 19%;
  top: 25px;

  @include tab {
    left: 163px;
    top: 53px;
  }

  @include desk {
    left: 279px;
    top: 87px;
  }
}
.gallery__icon-4 {
  position: absolute;
  left: 32.18%;
  top: 83px;

  @include tab {
    left: 252px;
    top: 179px;
  }

  @include desk {
    left: 426px;
    top: 292px;
  }
}
.gallery__icon-5 {
  position: absolute;
  left: 32.18%;
  top: 0px;

  @include tab {
    left: 252px;
    top: 0;
  }

  @include desk {
    left: 426px;
    top: 0;
  }
}
.gallery__icon-6 {
  position: absolute;
  left: 57.81%;
  top: 70px;

  @include tab {
    left: 430px;
    top: 151px;
  }

  @include desk {
    left: 715px;
    top: 245px;
  }
}
.gallery__icon-7 {
  position: absolute;
  left: 57.81%;
  top: 28px;

  @include tab {
    left: 430px;
    top: 61px;
  }

  @include desk {
    left: 715px;
    top: 100px;
  }
}
.gallery__icon-8 {
  position: absolute;
  left: 70.93%;
  top: 56px;

  @include tab {
    left: 519px;
    top: 122px;
  }

  @include desk {
    left: 861px;
    top: 198px;
  }
}
.gallery__icon-9 {
  position: absolute;
  left: 70.93%;
  top: 15px;

  @include tab {
    left: 519px;
    top: 33px;
  }

  @include desk {
    left: 861px;
    top: 53px;
  }
}
.gallery__icon-10 {
  position: absolute;
  left: 83.75%;
  top: 44px;

  @include tab {
    left: 609px;
    top: 94px;
  }

  @include desk {
    left: 1006px;
    top: 154px;
  }
}
