@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.header {
  position: relative;
  background-color: var(--main-bg-color);
  background-image: url("../images/ice-cream-hero.png"), url("../images/Ellipse-pink-hero.png");
  background-repeat: no-repeat;
  background-size: 171px, 364px;
  background-position: right 32px top 92px, right -80px top 83px;
}

@media screen and (min-width: 768px) {
  .header {
    background-image: url("../images/so-tasty-hero.png"), url("../images/ice-cream-hero.png"), url("../images/Ellipse-pink-hero.png");
    background-position: right 34px bottom, right 247px bottom, right 137px top 31px;
    background-size: 168px, 143px, 322px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    background-position: right 110px bottom, right 450px top 110px, right 270px top 50px;
    background-size: 293px, 236px, 538px;
  }
}

.menu-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 6px;
}

@media screen and (min-width: 768px) {
  .menu-wraper {
    padding-top: 37px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-wraper {
    margin-bottom: 85px;
  }
}

.logo {
  width: 199px;
  height: 50px;
}

.button-header {
  color: var(--title-color);
  background-color: var(--text-white-color);
  border: none;
  cursor: pointer;
  font-family: 'DM Sans';
  border-radius: 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 160px;
  min-height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: none;
}

@media screen and (min-width: 768px) {
  .button-header {
    display: block;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .button-header {
    margin-left: 0;
  }
}

.site-nav {
  display: none;
}

@media screen and (min-width: 1200px) {
  .site-nav {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-open-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.helper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .btn-menu {
    display: none;
  }
}

.site-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-list .site-list__item:not(:last-child) {
  margin-right: 35px;
}

.site-list__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--text-white-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}

.hero {
  padding-top: 137px;
  padding-bottom: 160px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 15px;
    padding-bottom: 80px;
  }
}

.title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-white-color);
  margin-bottom: 20px;
}

.title > span {
  color: var(--title-color);
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 25px;
  }
}

.thumb-ice {
  max-width: 171px;
  position: absolute;
  top: 50px;
}

.thumb-elipse {
  max-width: 346px;
  position: absolute;
  right: 0;
  top: 50px;
}

.thumb-milk {
  display: none;
  width: 114px;
  height: 48px;
}

@media screen and (min-width: 768px) {
  .thumb-milk {
    display: block;
    width: 124px;
  }
}

@media screen and (min-width: 1200px) {
  .thumb-milk {
    width: 188px;
    position: absolute;
    bottom: 165px;
    left: 55px;
  }
}

.description {
  display: none;
  width: 114px;
  height: 48px;
  left: 154px;
  top: 292px;
}

@media screen and (min-width: 768px) {
  .description {
    display: block;
    margin-left: 115px;
  }
}

@media screen and (min-width: 1200px) {
  .description {
    display: block;
    margin-top: 115px;
  }
}

.description-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
  /* or 12px */
  color: var(--text-white-color);
}

.description-btn {
  margin-top: 7px;
  width: 18px;
  height: 18px;
}

.counter-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.count {
  display: none;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.count > span {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  /* identical to box height */
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--title-color);
  background-image: url("../images/small-circle.png");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: right top;
  text-align: start;
}

.count > p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: var(--text-white-color);
}

@media screen and (min-width: 768px) {
  .count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
    font-size: 46px;
    line-height: 53px;
    /* identical to box height */
    letter-spacing: 0.04em;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

*,
p,
h1,
h2,
h3,
h4,
h6 li {
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

:root {
  --title-color: #D41443;
  --main-text-color: #000000;
  --second-text-color: #907E82;
  --text-white-color: #ffffff;
  --main-bg-color: #FFB8CA;
  --secondary-bg-color: #FFF5F6;
  --hover-color: #D41443;
  --animation-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

main-font {
  font-family: Titan One;
}

second-font {
  font-family: DM Sans, sans-serif;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 115px;
    padding-right: 115px;
  }
}
/*# sourceMappingURL=main.css.map */