:root {
  --title-color: #D41443;
  --main-text-color: #000000;
  --second-text-color: #907E82;
  --text-white-color: #ffffff;
  --main-bg-color: #FFB8CA;
  --secondary-bg-color: #FFF5F6;
  --hover-color: #D41443;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

main-font {
  font-family: Titan One;
}

second-font {
  font-family: DM Sans, sans-serif;
}