<section class="about" id="how-it’s-made?">
	<div class="container about__test-container about__container">
			<div class="about__main main-about">
				<p class="main-about__subtitle">tradition and love</p>
				<h2 class="main-about__title">how it’s made?</h2>
			</div>
			<div class="about__content">
				<div class="about__image">
					<picture>
						<source srcset="./images/about/cow/cowpcx1.png 1x, ./images/about/cow/cowpcx2.png 2x" media="(min-width: 1200px)"/>
						<source srcset="./images/about/cow/cowtabx1.png 1x, ./images/about/cow/cowtabx2.png 2x" media="(min-width: 768px)"/>
						<source srcset="./images/about/cow/cowmobx1.png 1x, ./images/about/cow/cowmobx2.png 2x" media="(max-width: 480px)"/>

						<img src="./images/about/cow/cowmobx1.png" alt="cow and milk jar"/>
					</picture>
					
				</div>
				<div class="about__inner-text inner-text-about">
					
						<p class="inner-text-about__subtitle inner-text-about__subtitle-black">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. 	Maecenas eleifend erat at justo fringilla.</p>
						<p class="inner-text-about__subtitle">Curabitur lacinia enim at ex blandit, 	vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
						<p class="inner-text-about__subtitle">Aliquam erat volutpat. Aenean accumsan.</p>
						
						<button type="button" class="button-universal read-more-btn" about-modal-open>
							Read more
							<svg class="button-vector" width="6px" height="10px">
            				<use href="./images/vector-red.svg#vector-red"></use>
						    </svg>
						</button>
				</div>
			</div>
	</div>
</section>
</body>