<section class="advantages advantages--background" id="Our products">
    <div class="advantages__container">
        <h2 style="display: none;">Advantages</h2>
        <ul class="advantages__list list">
            <li class="advantages__item advantages__item--milk">
                <h3 class="advantages__title">721</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item advantages__item--fruits">
                <h3 class="advantages__title">16kg</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item advantages__item--icecream">
                <h3 class="advantages__title">84</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>