<article class="example" id="Contact">
  <section class="contacts">
    <div class="container">
      <div class="contacts__wrapper">
        <h2 class="visually-hidden">Contacts</h2>
        <ul class="contacts-cards list">
          <li class="contacts-cards__item">
            <ul class="contacts__list list">
              <li class="contacts__item">
                <p class="contacts__agency">CAFE</p>
                <h4 class="contacts__city">Chicago</h4>
                <p class="contacts__descr">
                  Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
              </li>
              <li class="contacts__item">
                <div class="contacts__thumb">
                  <p class="contacts__work-days">Monday - Friday</p>
                  <p class="contacts__time">06:00 AM - 10:00 PM</p>
                </div>
                <div class="contacts__wrap">
                  <p class="contacts__work-days">Saturday - Sunday</p>
                  <p class="contacts__time">08:00 AM - 16:00 PM</p>
                </div>
              </li>
              <li class="contacts__item">
                <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </li>
          <li class="contacts-cards__item">
            <ul class="contacts__list list">
              <li class="contacts__item">
                <p class="contacts__agency contacts__agency--bgc">FOODTRUCK</p>
                <h4 class="contacts__city">Los Angeles</h4>
                <p class="contacts__descr">
                  Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
              </li>
              <li class="contacts__item">
                <div class="contacts__thumb">
                  <p class="contacts__work-days">Monday - Friday</p>
                  <p class="contacts__time">06:00 AM - 10:00 PM</p>
                </div>
                <div class="contacts__wrap">
                  <p class="contacts__work-days">Saturday - Sunday</p>
                  <p class="contacts__time">08:00 AM - 16:00 PM</p>
                </div>
              </li>
              <li class="contacts__item">
                <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </li>
          <li class="contacts-cards__item">
            <ul class="contacts__list list">
              <li class="contacts__item">
                <p class="contacts__agency">CAFE</p>
                <h4 class="contacts__city">New York</h4>
                <p class="contacts__descr">
                  Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
              </li>
              <li class="contacts__item">
                <div class="contacts__thumb">
                  <p class="contacts__work-days">Monday - Friday</p>
                  <p class="contacts__time">06:00 AM - 10:00 PM</p>
                </div>
                <div class="contacts__wrap">
                  <p class="contacts__work-days">Saturday - Sunday</p>
                  <p class="contacts__time">08:00 AM - 16:00 PM</p>
                </div>
              </li>
              <li class="contacts__item">
                <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <ul class="contact-buttons-list list">
        <li class="contact-buttons-item">
          <button class="button-universal location-btn">
            Our Locations
            <svg class="button-vector vector-local" width="4px" height="8px">
              <use href="./images/vector-button.svg#button-vector"></use>
            </svg>
          </button>
        </li>
        <li class="contact-buttons-item">
          <button class="button-universal franchise-btn">
            Franchise
            <svg class="button-vector" width="6px" height="10px">
              <use href="./images/vector-button.svg#button-vector"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </section>
</article>
