<article class="example">
    <section class="contacts">
        <div class="container">
            <div class="contacts__wrapper">
                <h2 class="visually-hidden">Contacts</h2>
                <ul class="contacts-cards list">
                    <li class="contacts-cards__item">
                        <ul class="contacts__list list">
                            <li class="contacts__item">
                                <p class="contacts__agency">CAFE</p>
                                <h4 class="contacts__city">Chicago</h4>
                                <p class="contacts__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                            </li>
                            <li class="contacts__item">
                                <div class="contacts__thumb">
                                    <p class="contacts__work-days">Monday - Friday</p>
                                    <p class="contacts__time">06:00 AM - 10:00 PM</p>
                                </div>
                                <div class="contacts__wrap">
                                    <p class="contacts__work-days">Saturday - Sunday</p>
                                    <p class="contacts__time">08:00 AM - 16:00 PM</p>
                                </div>
                            </li>
                            <li class="contacts__item">
                                <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                                <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </li>
                    <li class="contacts-cards__item">
                        <ul class="contacts__list list">
                            <li class="contacts__item">
                                <p class="contacts__agency contacts__agency--bgc">FOODTRUCK</p>
                                <h4 class="contacts__city">Los Angeles</h4>
                                <p class="contacts__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                            </li>
                            <li class="contacts__item">
                                <div class="contacts__thumb">
                                    <p class="contacts__work-days">Monday - Friday</p>
                                    <p class="contacts__time">06:00 AM - 10:00 PM</p>
                                </div>
                                <div class="contacts__wrap">
                                    <p class="contacts__work-days">Saturday - Sunday</p>
                                    <p class="contacts__time">08:00 AM - 16:00 PM</p>
                                </div>
                            </li>
                            <li class="contacts__item">
                                <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                                <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </li>
                    <li class="contacts-cards__item">
                        <ul class="contacts__list list">
                            <li class="contacts__item">
                                <p class="contacts__agency">CAFE</p>
                                <h4 class="contacts__city">New York</h4>
                                <p class="contacts__descr">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                            </li>
                            <li class="contacts__item">
                                <div class="contacts__thumb">
                                    <p class="contacts__work-days">Monday - Friday</p>
                                    <p class="contacts__time">06:00 AM - 10:00 PM</p>
                                </div>
                                <div class="contacts__wrap">
                                    <p class="contacts__work-days">Saturday - Sunday</p>
                                    <p class="contacts__time">08:00 AM - 16:00 PM</p>
                                </div>
                            </li>
                            <li class="contacts__item">
                                <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                                <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <ul class="contacts-buttons list">  
                <li class="contacts-buttons__item">
                    <button class="contacts__btn contacts__btn--first">
                        Our Locations 
                        <svg class="contacts__icon" width="6" height="10">
                            <use></use>
                        </svg>
                    </button>
                </li>
                <li class="contacts-buttons__item">
                    <button class="contacts__btn contacts__btn--sec">
                        Franchise 
                        <svg class="contacts__icon" width="6" height="10">
                            <use></use>
                        </svg>
                    </button>
                </li> 
            </ul>
        </div>
    </section>
</article>