<!-- <link rel="stylesheet" href="../sass/components/slaider.css" /> -->
<section class="section">
  <div class="container">
    <div class="slider">
      <div>
        <div class="customer__img">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/Customer-reviews/customer1.png    1x,
                ./images/Customer-reviews/customer1@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/Customer-reviews/customer1.png    1x,
                ./images/Customer-reviews/customer1@2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/Customer-reviews/customer1.png    1x,
                ./images/Customer-reviews/customer1@2x.png 2x
              "
            />
            <img src="./images/Customer-reviews/customer1.png" alt="Фото клиента" />
          </picture>
        </div>
        <div class="customer__coment-background">
          <div class="grad">
            <p class="customer__coment">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <p class="customer__location">Emily, Los Angeles</p>
      </div>
      <div>
        <div class="customer__img">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/Customer-reviews/customer-desc.png    1x,
                ./images/Customer-reviews/customer-desc@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/Customer-reviews/customer-tab.png    1x,
                ./images/Customer-reviews/customer-tab@2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/Customer-reviews/customer.png    1x,
                ./images/Customer-reviews/customer@2x.png 2x
              "
            />
            <img src="./images/Customer-reviews/customer-desc.png" alt="Фото клиента" />
          </picture>
        </div>
        <div class="customer__coment-background">
          <div class="grad">
            <p class="customer__coment">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <p class="customer__location">Emily, Los Angeles</p>
      </div>
      <div>
        <div class="customer__img">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/Customer-reviews/customer2.png    1x,
                ./images/Customer-reviews/customer2@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/Customer-reviews/customer2.png    1x,
                ./images/Customer-reviews/customer2@2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/Customer-reviews/customer2.png    1x,
                ./images/Customer-reviews/customer2@2x.png 2x
              "
            />
            <img src="./images/Customer-reviews/customer2.png" alt="Фото клиента" />
          </picture>
        </div>
        <div class="customer__coment-background">
          <div class="grad">
            <p class="customer__coment">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <p class="customer__location">Emily, Los Angeles</p>
      </div>
    </div>
  </div>
</section>
<!-- <script type="text/javascript" src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../scripts/slick.min.js"></script>
    <script type="text/javascript" src="../scripts/slide.js"></script> -->
