<div class="footer">
    <div class="footer-container">
        <div class="footer-title">
            <p class="footer-title__first">homemade ice cream made</p>
            <p class="footer-title__second">with passion</p>
        </div>
        <div>
            <div class="social">
                <ul class="social-list list">
                    <li class="social-list__item">
                        <a class="social-list__link" href="https://github.com/" target="_blank">
                            <svg width="19" height="19">
                                <use href="images/footer icon/footer.svg#icon-git"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a class="social-list__link" href="https://web.telegram.org/" target="_blank">
                            <svg width="20" height="16">
                                <use href="./images/footer icon/footer.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a class="social-list__link" href="https://www.facebook.com/" target="_blank">
                            <svg width="19" height="19">
                                <use href="./images/footer icon/footer.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-contact">
                Feel free to contact <a class="footer-contact__tel" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
            </div>   
        </div>
    </div>
    <div class="copyright"> 
        <p class="copyright__comment">
            &copy;2019 - IceCream. &nbsp;All Rights Reserved.
        </p> 
    </div>
</div>
