<!-- Mayd by Okhrimenko Volodymyr -->
<section class="section gallery__section">
  <div class="container__my">
    <div class="gallery__icon-1 gallery--litle-icon">
      <picture>
        <source
          srcset="
            ./images/gallery/desk/x1/img-gallery-desk-1.png    1x,
            ./images/gallery/desk/x2/img-gallery-desk-x2-1.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/tab/x1/img-gallery-tab-1.png    1x,
            ./images/gallery/tab/x2/img-gallery-tab-x2-1.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/x1/img-gallery-mobile-1.png    1x,
            ./images/gallery/mobile/x2/img-gallery-mobile-x2-1.png 2x
          "
          media="(min-width:320px)"
        />
        <img src="./images/gallery/desk/x1/img-gallery-desk-1.png" alt="Технокряк" />
      </picture>
    </div>
    <div class="gallery__icon-2 gallery--litle-icon">
      <picture>
        <source
          srcset="
            ./images/gallery/desk/x1/img-gallery-desk-2.png    1x,
            ./images/gallery/desk/x2/img-gallery-desk-x2-2.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/tab/x1/img-gallery-tab-2.png    1x,
            ./images/gallery/tab/x2/img-gallery-tab-x2-2.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/x1/img-gallery-mobile-2.png    1x,
            ./images/gallery/mobile/x2/img-gallery-mobile-x2-2.png 2x
          "
          media="(min-width:320px)"
        />
        <img src="./images/gallery/desk/x1/img-gallery-desk-2.png" alt="Технокряк" />
      </picture>
    </div>
    <div class="gallery__icon-3 gallery--litle-icon">
      <picture>
        <source
          srcset="
            ./images/gallery/desk/x1/img-gallery-desk-3.png    1x,
            ./images/gallery/desk/x2/img-gallery-desk-x2-3.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/tab/x1/img-gallery-tab-3.png    1x,
            ./images/gallery/tab/x2/img-gallery-tab-x2-3.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/x1/img-gallery-mobile-3.png    1x,
            ./images/gallery/mobile/x2/img-gallery-mobile-x2-3.png 2x
          "
          media="(min-width:320px)"
        />
        <img src="./images/gallery/desk/x1/img-gallery-desk-3.png" alt="Технокряк" />
      </picture>
    </div>
    <div class="gallery__icon-4 gallery--litle-icon">
      <picture>
        <source
          srcset="
            ./images/gallery/desk/x1/img-gallery-desk-4.png    1x,
            ./images/gallery/desk/x2/img-gallery-desk-x2-4.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/tab/x1/img-gallery-tab-4.png    1x,
            ./images/gallery/tab/x2/img-gallery-tab-x2-4.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/x1/img-gallery-mobile-4.png    1x,
            ./images/gallery/mobile/x2/img-gallery-mobile-x2-4.png 2x
          "
          media="(min-width:320px)"
        />
        <img src="./images/gallery/desk/x1/img-gallery-desk-4.png" alt="Технокряк" />
      </picture>
    </div>
    <div class="gallery__icon-5 gallery--main-icon">
      <picture>
        <source
          srcset="
            ./images/gallery/desk/x1/img-gallery-desk-5.png    1x,
            ./images/gallery/desk/x2/img-gallery-desk-x2-5.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/tab/x1/img-gallery-tab-5.png    1x,
            ./images/gallery/tab/x2/img-gallery-tab-x2-5.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/x1/img-gallery-mobile-5.png    1x,
            ./images/gallery/mobile/x2/img-gallery-mobile-x2-5.png 2x
          "
          media="(min-width:320px)"
        />
        <img src="./images/gallery/desk/x1/img-gallery-desk-5.png" alt="Технокряк" />
      </picture>
    </div>
    <div class="gallery__icon-6 gallery--litle-icon">
      <picture>
        <source
          srcset="
            ./images/gallery/desk/x1/img-gallery-desk-6.png    1x,
            ./images/gallery/desk/x2/img-gallery-desk-x2-6.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/tab/x1/img-gallery-tab-6.png    1x,
            ./images/gallery/tab/x2/img-gallery-tab-x2-6.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/x1/img-gallery-mobile-6.png    1x,
            ./images/gallery/mobile/x2/img-gallery-mobile-x2-6.png 2x
          "
          media="(min-width:320px)"
        />
        <img src="./images/gallery/desk/x1/img-gallery-desk-6.png" alt="Технокряк" />
      </picture>
    </div>
    <div class="gallery__icon-7 gallery--litle-icon">
      <picture>
        <source
          srcset="
            ./images/gallery/desk/x1/img-gallery-desk-7.png    1x,
            ./images/gallery/desk/x2/img-gallery-desk-x2-7.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/tab/x1/img-gallery-tab-7.png    1x,
            ./images/gallery/tab/x2/img-gallery-tab-x2-7.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/x1/img-gallery-mobile-7.png    1x,
            ./images/gallery/mobile/x2/img-gallery-mobile-x2-7.png 2x
          "
          media="(min-width:320px)"
        />
        <img src="./images/gallery/desk/x1/img-gallery-desk-7.png" alt="Технокряк" />
      </picture>
    </div>
    <div class="gallery__icon-8 gallery--litle-icon">
      <picture>
        <source
          srcset="
            ./images/gallery/desk/x1/img-gallery-desk-8.png    1x,
            ./images/gallery/desk/x2/img-gallery-desk-x2-8.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/tab/x1/img-gallery-tab-8.png    1x,
            ./images/gallery/tab/x2/img-gallery-tab-x2-8.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/x1/img-gallery-mobile-8.png    1x,
            ./images/gallery/mobile/x2/img-gallery-mobile-x2-8.png 2x
          "
          media="(min-width:320px)"
        />
        <img src="./images/gallery/desk/x1/img-gallery-desk-8.png" alt="Технокряк" />
      </picture>
    </div>
    <div class="gallery__icon-9 gallery--litle-icon">
      <picture>
        <source
          srcset="
            ./images/gallery/desk/x1/img-gallery-desk-9.png    1x,
            ./images/gallery/desk/x2/img-gallery-desk-x2-9.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/tab/x1/img-gallery-tab-9.png    1x,
            ./images/gallery/tab/x2/img-gallery-tab-x2-9.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/x1/img-gallery-mobile-9.png    1x,
            ./images/gallery/mobile/x2/img-gallery-mobile-x2-9.png 2x
          "
          media="(min-width:320px)"
        />
        <img src="./images/gallery/desk/x1/img-gallery-desk-9.png" alt="Технокряк" />
      </picture>
    </div>
    <div class="gallery__icon-10 gallery--litle-icon">
      <picture>
        <source
          srcset="
            ./images/gallery/desk/x1/img-gallery-desk-10.png    1x,
            ./images/gallery/desk/x2/img-gallery-desk-x2-10.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/tab/x1/img-gallery-tab-10.png    1x,
            ./images/gallery/tab/x2/img-gallery-tab-x2-10.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/x1/img-gallery-mobile-10.png    1x,
            ./images/gallery/mobile/x2/img-gallery-mobile-x2-10.png 2x
          "
          media="(min-width:320px)"
        />
        <img src="./images/gallery/desk/x1/img-gallery-desk-10.png" alt="Технокряк" />
      </picture>
    </div>
  </div>
</section>
