<article class="hero-header" id="home">
  <header class="header container">
    <div class="menu-wraper">
      <a href="./index.html"><img src="./images/logo.png" alt="logo" class="logo" /></a>
      <nav class="site-nav">
        <ul class="site-list list">
          <li class="site-list__item"><a class="site-list__link link" href="">Home</a></li>
          <li class="site-list__item"><a class="site-list__link link" href="#about-us">About us</a></li>
          <li class="site-list__item"><a class="site-list__link link" href="#How it’s made?">How it’s made?</a></li>
          <li class="site-list__item"><a class="site-list__link link" href="#Our products">Our products</a></li>
          <li class="site-list__item"><a class="site-list__link link" href="#Contact">Contact</a></li></ul>
      </nav>
      <div class="helper">
        <div class="btn-menu">
          <button type="button" class="btn-menu__open" header-mobile-open>
            <svg class="menu-open__icon" width="20px" height="12px">
              <use href="./images/menu-open.svg#menu-open"></use>
            </svg>
          </button>
        </div>
        <button type="button" class="button-header">
          Buy now
          <svg class="button-vector__icon" width="4px" height="8px">
            <use href="./images/vector-button.svg#button-vector"></use>
          </svg>
        </button>
      </div>
    </div>

    </div>
    <div class="hero">
        <h1 class="title">
            ice cream <br />
            made with <br />
            <span>passion</span>
        </h1>
        <button width="61px" height="24px">Products</button>
        <button width="82px" height="24px">How it’s made?</button>
        </div>
  </header>
</article>
