<article class="hero-header" id="home">
  <div class="head-hero">
    <div class="container__header-hero">
    <header>
      <div class="menu-wraper">
      <a href="./index.html"><img src="./images/logo.png" alt="logo" class="logo" /></a>
      <nav class="site-nav">
        <ul class="site-list list">
          <li class="site-list__item"><a class="site-list__link link" href="#home">Home</a></li>
          <li class="site-list__item">
            <a class="site-list__link link" href="#about-us">About us</a>
          </li>
          <li class="site-list__item">
            <a class="site-list__link link" href="#how-it’s-made?"">How it’s made?</a>
          </li>
          <li class="site-list__item">
            <a class="site-list__link link" href="#Our products">Our products</a>
          </li>
          <li class="site-list__item">
            <a class="site-list__link link" href="#Contact">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="helper">
        <div class="btn-menu">
          <button type="button" class="btn-menu__open" header-mobile-open>
            <svg class="menu-open__icon" width="20px" height="12px">
              <use href="./images/menu-open.svg#menu-open"></use>
            </svg>
          </button>
        </div>
        <button type="button" class="button-universal purchase-btn">
          Buy now
          <svg class="button-vector" width="6px" height="10px">
            <use href="./images/vector-red.svg#vector-red"></use>
          </svg>
        </button>
      </div>
    </div>
    </header>
    <div class="hero">
      <div class="thumb-ice">
        <img 
        srcset="./images/hero/ice-cream-mobile1.png 320w,
        ./images/hero/ice-cream-tablet1.png 768w,
        ./images/hero/ice-cream-desctop1.png 1280w"
        src="./images/hero/ice-cream-mobile1.png" alt="ice-cream">
      </div>
      <div class="counter-wrap">
        <div class="counter">
          <span>16</span>
          <p>cafes</p>
        </div>
        <div class="counter">
          <span>23</span>
          <p>food trucks</p>
        </div>
      </div>
      <div class="wraper__text-btn">
        <h1 class="title">
        ice cream <br />
        made with <br />
        <span>passion</span>
      </h1>
      <div class="button-position-header">
        <a class="button-universal product-btn link" href="#about-us">Products</a>
        <a class="button-universal how-it’s-made-btn link" href="#how-it’s-made?"">How it’s made? </a>
      </div>
      </div>
      <div class="thumb-milk">
        <img
        srcset="./images/hero/milk-desctop1.png"
        src="./images/hero/milk-tablet1.png" alt="">
        <div class="about-hero">
        <p class="about-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>
        <button class="button-about" type="button">
          <img src="./images/arrow-right.png" alt="">
        </button>
      </div>
      </div>
      <div class="thumb-tasty ">
        <img
        srcset="./images/hero/so-tasty-desctop1.png"
        src="./images/hero/so-tasty-tablet1.png" alt=""></div>
    </div>
    </div>
  </div>
</article>
