<section class="modal_2">

    <a href="../partials/modal.html"><img src="../images/modal_2_logo.png" alt="modal_2__logo" class="modal_2__logo" /></a>
  
      <div class="modal_2__foto">
        
          <picture> 
            <source srcset="../images/modal_2_desktop.png"  media="(min-width: 1200px)"/> 
            <source srcset="../images/modal_2_desktop.png " media="(min-width: 768px)" /> 
            <source srcset="../images/modal_2_phone.png"    media="(min-width: 320px)" /> 
            <img src="../images/modal_2_phone.png"  /> 
          </picture>
        </div>
  
      <div class="modal2__container">
        <p class="modal_2__t1">tradition and love</p>
        <p class="modal_2__t2">how it’s made?</p>
        <p class="modal_2__t3">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
        <p class="modal_2__t4">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.</p>
    
      
      </div>
  <section>


