<!-- ! bug fixing by Okhrymenko Volodymyr -->
<section class="products" id="about-us">
  <!-- <div class="container product__container"> -->
  <div class="product__container">
    <div class="products__block">
      <p class="products__label">100% natural</p>
      <h2 class="products__main__title">products</h2>
    </div>

    <ul class="products__list list">
      <li class="products__item product__item--ice-cream">
        <h3 class="products__title products__title--ice-cream">ice cream</h3>

        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et.
        </p>
        <button class="buttons__products" type="button">
          <!-- <details>
            <summary></summary>
            <p class="products__about">I love ice coffee.</p>
          </details> -->
          <img src="./images/arrow-right.png" alt="" />
        </button>
      </li>
      <li class="products__item products__item--coffee">
        <h3 class="products__title products__title--ice-coffee">ice coffee</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et.
        </p>
        <button class="buttons__products" type="button">
          <!-- <details>
            <summary></summary>
            <p class="products__about">I love ice coffee.</p>
          </details> -->
          <img src="./images/arrow-right.png" alt="" />
        </button>
      </li>
      <li class="products__item products__item--milkshakes">
        <h3 class="products__title products__title--milkshakes">milkshakes</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et.
        </p>
        <button class="buttons__products" type="button">
          <!-- <details>
            <summary></summary>
            <p class="products__about">I love ice coffee.</p>
          </details> -->
          <img src="./images/arrow-right.png" alt="" />
        </button>
      </li>
    </ul>
  </div>
</section>
