.button-universal {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    min-width: 160px;
    min-height: 44px;

    color: var(--title-color);
    background-color: var(--text-white-color);
    transition: background-color var(--animation-timing-function);

    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    border-radius: 22px;
    line-height: 1.31;
    
    &:hover,
    &:focus {
        background-color: var(--bcg-hover-button-secondary);
    }
}