* Слайдер */ .slick-slider {}

/* Слайдер запущен */
.slick-slider.slick-initialized {}

/* Слайдер с точками */
.slick-slider.slick-dotted {}

/* Ограничивающая оболочка */
.slick-list {overflow: hidden;}

/* Лента слайдов */
.slick-track {
    display: flex;
}

/* Слайд */
.slick-slide {}

/* Слайд активный (показывается) */
.slick-slide.slick-active {}

/* Слайд основной */
.slick-slide.slick-current {}

/* Слайд по центру */
.slick-slide.slick-center {}

/* Клонированный слайд */
.slick-slide.slick-cloned {}

/* Стрелка */
.slick-arrow {}

/* Стрелка влево */
.slick-arrow.slick-prev {}

/* Стрелка вправо */
.slick-arrow.slick-next {}

/* Стрелка не активная */
.slick-arrow.slick-disabled {}

/* Точки (булиты) */
.slick-dots {display: flex;align-items: center;justify-content: center;}

.slick-dots li {
margin: 0 9px;
list-style: none;
}

/* Активная точка */
.slick-dots li.slick-active button {
    background-color: inherit;
    border-radius: 0%;
    background-image: url(../../images/Customer-reviews/home.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.slick-dots li.slick-active button:hover{
    background-image: url(../../images/Customer-reviews/home.svg);
}

/* Элемент точки */
.slick-dots li button {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    font-size: 0;
    width: 12px;
    height: 12px;
    /* background-color: #d9d9d9; */
    background-image: url(../../images/Customer-reviews/Ellipse.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
}
.slick-dots li button:hover{
    /* background-color: #D31342; */
    background-image: url(../../images/Customer-reviews/Ellipse-red.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
    